In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Load the CSV file
file_path = 'trading_data.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe
print(data.head())

       Date  Daily PNL  Cumulative PNL  Net Transfer  Account Equity
0  2/5/2024      38.81           53.28           0.0          901.53  \
1  2/4/2024     -63.63           14.47           0.0          862.73
2  2/3/2024     -29.00           78.10           0.0          926.35
3  2/2/2024      66.80          107.11           0.0          955.36
4  2/1/2024      11.24           40.31           0.0          888.56

   Total Debt  Total balance
0     1539.91        2441.45
1     1497.57        2360.29
2     1497.05        2423.40
3     1496.53        2451.89
4     1496.02        2384.58

In [3]:
# Convert 'Date' column to datetime
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y')

data.head()

,Date,Daily PNL,Cumulative PNL,Net Transfer,Account Equity,Total Debt,Total balance
0,2024-02-05,38.81,53.28,0.0,901.53,1539.91,2441.45
1,2024-02-04,-63.63,14.47,0.0,862.73,1497.57,2360.29
2,2024-02-03,-29.00,78.10,0.0,926.35,1497.05,2423.40
3,2024-02-02,66.80,107.11,0.0,955.36,1496.53,2451.89
4,2024-02-01,11.24,40.31,0.0,888.56,1496.02,2384.58

In [5]:
# Calculate the number of days in the data for annualization purposes
days_in_data = (data['Date'].iloc[-1] - data['Date'].iloc[0]).days

days_in_data

61

In [7]:
# Calculate Cumulative Return
initial_equity = data['Net Transfer'].sum()
final_equity = data['Account Equity'].iloc[-1]
cumulative_return = (final_equity - initial_equity) / initial_equity

initial_equity, final_equity, cumulative_return

(848.2500000000001, 901.53, 0.06281167108753298)

In [8]:
# Annualize the Cumulative Return (Assuming 365 crypto trading days in a year)
annualized_return = ((1 + cumulative_return) ** (365/days_in_data)) - 1

annualized_return

0.43980666392058954

In [14]:
# Calculate Drawdown
# Compute the running maximum
running_max = data['Account Equity'].cummax()
# Compute the drawdown
drawdown = (data['Account Equity'] - running_max) / running_max
# Find the maximum drawdown
max_drawdown = drawdown.min()

max_drawdown

-0.4062912904646553

In [15]:
cumulative_return, annualized_return, max_drawdown

(0.06281167108753298, 0.43980666392058954, -0.4062912904646553)